# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.hex
*.map
*.bin

# listing files
*.lss
*.lst

#vim temp files
.*.sw*

# dependency directories
.deps

# build folders
/build

# pycache folders
/.github/__pycache__

# vscode folders
/.vscode
